@charset "UTF-8";
:root {
  /* 文字の大きさ */
  --font-size: 36px;
  /* 文字の太さ */
  --font-weight: bold;
  /* 配信者の文字の色 */
  --owner-text-color: #3381ff;
  /* 視聴者の文字の色 */
  --audience-text-color: #fff;
  /* リンクの文字の色 */
  --link-text-color: #fff;
  /*コメントスクロール時間*/
  --scroll-time: 9s;
}

body[data-is-embedded="true"] {
  width: 100vw;
  height: 100vh;
}

body[data-is-embedded="true"] .tw-comment-window-page,
body[data-is-embedded="true"] .tw-comment-item-body {
  padding: 0;
}

body[data-is-embedded="true"] .tw-comment-item-comment {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--audience-text-color);
}

body[data-is-embedded="true"] .tw-comment-item[data-type="you"] .tw-comment-item-comment {
  color: var(--owner-text-color);
}

a:link,
a:visited {
  color: var(--link-text-color);
}

.tw-comment-list-view__scroller {
  position: relative;
  transform: none !important;
  overflow-x: hidden;
}

.tw-comment-window-page {
  max-width: none;
}

.tw-comment-item-name {
  display: none;
}

.tw-comment-item {
  animation: anim var(--scroll-time) linear;
  animation-fill-mode: forwards;
  width: max-content;
  position: absolute;
}

.tw-comment-item:nth-last-child(100n + 1) {
  top: 68%;
}

.tw-comment-item:nth-last-child(100n + 2) {
  top: 28%;
}

.tw-comment-item:nth-last-child(100n + 3) {
  top: 31%;
}

.tw-comment-item:nth-last-child(100n + 4) {
  top: 31%;
}

.tw-comment-item:nth-last-child(100n + 5) {
  top: 59%;
}

.tw-comment-item:nth-last-child(100n + 6) {
  top: 36%;
}

.tw-comment-item:nth-last-child(100n + 7) {
  top: 10%;
}

.tw-comment-item:nth-last-child(100n + 8) {
  top: 8%;
}

.tw-comment-item:nth-last-child(100n + 9) {
  top: 8%;
}

.tw-comment-item:nth-last-child(100n + 10) {
  top: 39%;
}

.tw-comment-item:nth-last-child(100n + 11) {
  top: 17%;
}

.tw-comment-item:nth-last-child(100n + 12) {
  top: 18%;
}

.tw-comment-item:nth-last-child(100n + 13) {
  top: 27%;
}

.tw-comment-item:nth-last-child(100n + 14) {
  top: 18%;
}

.tw-comment-item:nth-last-child(100n + 15) {
  top: 80%;
}

.tw-comment-item:nth-last-child(100n + 16) {
  top: 33%;
}

.tw-comment-item:nth-last-child(100n + 17) {
  top: 23%;
}

.tw-comment-item:nth-last-child(100n + 18) {
  top: 8%;
}

.tw-comment-item:nth-last-child(100n + 19) {
  top: 13%;
}

.tw-comment-item:nth-last-child(100n + 20) {
  top: 45%;
}

.tw-comment-item:nth-last-child(100n + 21) {
  top: 14%;
}

.tw-comment-item:nth-last-child(100n + 22) {
  top: 8%;
}

.tw-comment-item:nth-last-child(100n + 23) {
  top: 21%;
}

.tw-comment-item:nth-last-child(100n + 24) {
  top: 10%;
}

.tw-comment-item:nth-last-child(100n + 25) {
  top: 31%;
}

.tw-comment-item:nth-last-child(100n + 26) {
  top: 4%;
}

.tw-comment-item:nth-last-child(100n + 27) {
  top: 69%;
}

.tw-comment-item:nth-last-child(100n + 28) {
  top: 55%;
}

.tw-comment-item:nth-last-child(100n + 29) {
  top: 33%;
}

.tw-comment-item:nth-last-child(100n + 30) {
  top: 41%;
}

.tw-comment-item:nth-last-child(100n + 31) {
  top: 32%;
}

.tw-comment-item:nth-last-child(100n + 32) {
  top: 65%;
}

.tw-comment-item:nth-last-child(100n + 33) {
  top: 7%;
}

.tw-comment-item:nth-last-child(100n + 34) {
  top: 54%;
}

.tw-comment-item:nth-last-child(100n + 35) {
  top: 65%;
}

.tw-comment-item:nth-last-child(100n + 36) {
  top: 13%;
}

.tw-comment-item:nth-last-child(100n + 37) {
  top: 3%;
}

.tw-comment-item:nth-last-child(100n + 38) {
  top: 74%;
}

.tw-comment-item:nth-last-child(100n + 39) {
  top: 33%;
}

.tw-comment-item:nth-last-child(100n + 40) {
  top: 65%;
}

.tw-comment-item:nth-last-child(100n + 41) {
  top: 14%;
}

.tw-comment-item:nth-last-child(100n + 42) {
  top: 58%;
}

.tw-comment-item:nth-last-child(100n + 43) {
  top: 13%;
}

.tw-comment-item:nth-last-child(100n + 44) {
  top: 12%;
}

.tw-comment-item:nth-last-child(100n + 45) {
  top: 67%;
}

.tw-comment-item:nth-last-child(100n + 46) {
  top: 49%;
}

.tw-comment-item:nth-last-child(100n + 47) {
  top: 64%;
}

.tw-comment-item:nth-last-child(100n + 48) {
  top: 2%;
}

.tw-comment-item:nth-last-child(100n + 49) {
  top: 72%;
}

.tw-comment-item:nth-last-child(100n + 50) {
  top: 17%;
}

.tw-comment-item:nth-last-child(100n + 51) {
  top: 56%;
}

.tw-comment-item:nth-last-child(100n + 52) {
  top: 19%;
}

.tw-comment-item:nth-last-child(100n + 53) {
  top: 61%;
}

.tw-comment-item:nth-last-child(100n + 54) {
  top: 64%;
}

.tw-comment-item:nth-last-child(100n + 55) {
  top: 48%;
}

.tw-comment-item:nth-last-child(100n + 56) {
  top: 45%;
}

.tw-comment-item:nth-last-child(100n + 57) {
  top: 73%;
}

.tw-comment-item:nth-last-child(100n + 58) {
  top: 60%;
}

.tw-comment-item:nth-last-child(100n + 59) {
  top: 36%;
}

.tw-comment-item:nth-last-child(100n + 60) {
  top: 60%;
}

.tw-comment-item:nth-last-child(100n + 61) {
  top: 37%;
}

.tw-comment-item:nth-last-child(100n + 62) {
  top: 17%;
}

.tw-comment-item:nth-last-child(100n + 63) {
  top: 42%;
}

.tw-comment-item:nth-last-child(100n + 64) {
  top: 61%;
}

.tw-comment-item:nth-last-child(100n + 65) {
  top: 69%;
}

.tw-comment-item:nth-last-child(100n + 66) {
  top: 81%;
}

.tw-comment-item:nth-last-child(100n + 67) {
  top: 48%;
}

.tw-comment-item:nth-last-child(100n + 68) {
  top: 65%;
}

.tw-comment-item:nth-last-child(100n + 69) {
  top: 36%;
}

.tw-comment-item:nth-last-child(100n + 70) {
  top: 39%;
}

.tw-comment-item:nth-last-child(100n + 71) {
  top: 58%;
}

.tw-comment-item:nth-last-child(100n + 72) {
  top: 71%;
}

.tw-comment-item:nth-last-child(100n + 73) {
  top: 29%;
}

.tw-comment-item:nth-last-child(100n + 74) {
  top: 38%;
}

.tw-comment-item:nth-last-child(100n + 75) {
  top: 70%;
}

.tw-comment-item:nth-last-child(100n + 76) {
  top: 5%;
}

.tw-comment-item:nth-last-child(100n + 77) {
  top: 39%;
}

.tw-comment-item:nth-last-child(100n + 78) {
  top: 82%;
}

.tw-comment-item:nth-last-child(100n + 79) {
  top: 25%;
}

.tw-comment-item:nth-last-child(100n + 80) {
  top: 60%;
}

.tw-comment-item:nth-last-child(100n + 81) {
  top: 52%;
}

.tw-comment-item:nth-last-child(100n + 82) {
  top: 27%;
}

.tw-comment-item:nth-last-child(100n + 83) {
  top: 4%;
}

.tw-comment-item:nth-last-child(100n + 84) {
  top: 62%;
}

.tw-comment-item:nth-last-child(100n + 85) {
  top: 84%;
}

.tw-comment-item:nth-last-child(100n + 86) {
  top: 46%;
}

.tw-comment-item:nth-last-child(100n + 87) {
  top: 54%;
}

.tw-comment-item:nth-last-child(100n + 88) {
  top: 66%;
}

.tw-comment-item:nth-last-child(100n + 89) {
  top: 73%;
}

.tw-comment-item:nth-last-child(100n + 90) {
  top: 73%;
}

.tw-comment-item:nth-last-child(100n + 91) {
  top: 27%;
}

.tw-comment-item:nth-last-child(100n + 92) {
  top: 84%;
}

.tw-comment-item:nth-last-child(100n + 93) {
  top: 11%;
}

.tw-comment-item:nth-last-child(100n + 94) {
  top: 6%;
}

.tw-comment-item:nth-last-child(100n + 95) {
  top: 7%;
}

.tw-comment-item:nth-last-child(100n + 96) {
  top: 25%;
}

.tw-comment-item:nth-last-child(100n + 97) {
  top: 52%;
}

.tw-comment-item:nth-last-child(100n + 98) {
  top: 78%;
}

.tw-comment-item:nth-last-child(100n + 99) {
  top: 17%;
}

.tw-comment-item:nth-last-child(100n + 100) {
  top: 44%;
}

@keyframes anim {
  0% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
    left: 100%;
  }
  to {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    left: 0%;
  }
}
