@charset "UTF-8";
:root {
  /* 文字の大きさ */
  --font-size: 36px;
  /* 文字の太さ */
  --font-weight: bold;
  /* 配信者の文字の色 */
  --owner-text-color: #3381ff;
  /* 視聴者の文字の色 */
  --audience-text-color: #fff;
  /*コメントスクロール時間*/
  --scroll-time: 9s;
}

body[data-is-embedded="true"] {
  width: 100vw;
  height: 100vh;
}

body[data-is-embedded="true"] .tw-comment-window-page,
body[data-is-embedded="true"] .tw-comment-item-body {
  padding: 0;
}

body[data-is-embedded="true"] .tw-comment-item-comment {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--audience-text-color);
}

body[data-is-embedded="true"] .tw-comment-item[data-type="you"] .tw-comment-item-comment {
  color: var(--owner-text-color);
}

.tw-comment-list-view__scroller {
  position: relative;
  transform: none !important;
  overflow-x: hidden;
}

.tw-comment-window-page {
  max-width: none;
}

.tw-comment-item-name {
  display: none;
}

.tw-comment-item {
  animation: anim var(--scroll-time) linear;
  animation-fill-mode: forwards;
  width: max-content;
  position: absolute;
}

.tw-comment-item:nth-last-child(22n + 1) {
  top: 0%;
}

.tw-comment-item:nth-last-child(22n + 2) {
  top: 4%;
}

.tw-comment-item:nth-last-child(22n + 3) {
  top: 8%;
}

.tw-comment-item:nth-last-child(22n + 4) {
  top: 12%;
}

.tw-comment-item:nth-last-child(22n + 5) {
  top: 16%;
}

.tw-comment-item:nth-last-child(22n + 6) {
  top: 20%;
}

.tw-comment-item:nth-last-child(22n + 7) {
  top: 24%;
}

.tw-comment-item:nth-last-child(22n + 8) {
  top: 28%;
}

.tw-comment-item:nth-last-child(22n + 9) {
  top: 32%;
}

.tw-comment-item:nth-last-child(22n + 10) {
  top: 36%;
}

.tw-comment-item:nth-last-child(22n + 11) {
  top: 40%;
}

.tw-comment-item:nth-last-child(22n + 12) {
  top: 44%;
}

.tw-comment-item:nth-last-child(22n + 13) {
  top: 48%;
}

.tw-comment-item:nth-last-child(22n + 14) {
  top: 52%;
}

.tw-comment-item:nth-last-child(22n + 15) {
  top: 56%;
}

.tw-comment-item:nth-last-child(22n + 16) {
  top: 60%;
}

.tw-comment-item:nth-last-child(22n + 17) {
  top: 64%;
}

.tw-comment-item:nth-last-child(22n + 18) {
  top: 68%;
}

.tw-comment-item:nth-last-child(22n + 19) {
  top: 72%;
}

.tw-comment-item:nth-last-child(22n + 20) {
  top: 76%;
}

.tw-comment-item:nth-last-child(22n + 21) {
  top: 80%;
}

.tw-comment-item:nth-last-child(22n + 22) {
  top: 84%;
}

@keyframes anim {
  0% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
    left: 100%;
  }
  to {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    left: 0%;
  }
}
