@charset "UTF-8";
:root {
  /* 文字の大きさ */
  --font-size: 36px;
  /* 文字の太さ */
  --font-weight: bold;
  /* 配信者の文字の色 */
  --owner-text-color: #3381ff;
  /* 視聴者の文字の色 */
  --audience-text-color: #fff;
  /* リンクの文字の色 */
  --link-text-color: #fff;
  /* 文字の透明度 1〜0で指定 1で不透明、0で透明 */
  --text-opacity: 1;
  /*コメントスクロール時間*/
  --scroll-time: 9s;
  /*改行の有無 noneで改行なし blockで改行あり*/
  --br-style: none;
}

@-webkit-keyframes slide {
  0% {
    transform: translate(110%, 0);
    left: 100%;
  }
  to {
    transform: translate(-110%, 0);
    left: 0%;
  }
}

@keyframes slide {
  0% {
    transform: translate(110%, 0);
    left: 100%;
  }
  to {
    transform: translate(-110%, 0);
    left: 0%;
  }
}

body[data-is-embedded="true"] {
  width: 100vw;
  height: 100vh;
}

body[data-is-embedded="true"] .tw-comment-window-page,
body[data-is-embedded="true"] .tw-comment-item-body {
  padding: 0;
}

body[data-is-embedded="true"] .tw-comment-item-comment {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--audience-text-color);
  opacity: var(--text-opacity);
}

body[data-is-embedded="true"] .tw-comment-item-comment .tw-reply-id {
  color: var(--audience-text-color);
}

body[data-is-embedded="true"] .tw-comment-item-comment br {
  display: var(--br-style);
}

body[data-is-embedded="true"] .tw-comment-item[data-type="you"] .tw-comment-item-comment,
body[data-is-embedded="true"] .tw-comment-item[data-type="you"] .tw-reply-id {
  color: var(--owner-text-color);
}

body[data-is-embedded="true"] a:link,
body[data-is-embedded="true"] a:visited {
  color: var(--link-text-color);
}

body[data-is-embedded="true"] .tw-comment-list-view__scroller {
  position: relative;
  transform: none !important;
  overflow-x: hidden;
}

body[data-is-embedded="true"] .tw-comment-window-page {
  max-width: none;
}

body[data-is-embedded="true"] .tw-comment-item-name {
  display: none;
}

body[data-is-embedded="true"] .tw-comment-item {
  -webkit-animation: slide var(--scroll-time) linear;
          animation: slide var(--scroll-time) linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 100%;
  will-change: transform, left;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 1) {
  top: 73%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 2) {
  top: 41%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 3) {
  top: 44%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 4) {
  top: 38%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 5) {
  top: 14%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 6) {
  top: 38%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 7) {
  top: 51%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 8) {
  top: 39%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 9) {
  top: 32%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 10) {
  top: 23%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 11) {
  top: 54%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 12) {
  top: 47%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 13) {
  top: 78%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 14) {
  top: 38%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 15) {
  top: 28%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 16) {
  top: 10%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 17) {
  top: 55%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 18) {
  top: 40%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 19) {
  top: 65%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 20) {
  top: 74%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 21) {
  top: 62%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 22) {
  top: 23%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 23) {
  top: 55%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 24) {
  top: 57%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 25) {
  top: 49%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 26) {
  top: 29%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 27) {
  top: 46%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 28) {
  top: 40%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 29) {
  top: 37%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 30) {
  top: 74%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 31) {
  top: 5%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 32) {
  top: 19%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 33) {
  top: 45%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 34) {
  top: 40%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 35) {
  top: 6%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 36) {
  top: 82%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 37) {
  top: 16%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 38) {
  top: 87%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 39) {
  top: 58%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 40) {
  top: 28%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 41) {
  top: 51%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 42) {
  top: 46%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 43) {
  top: 28%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 44) {
  top: 64%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 45) {
  top: 70%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 46) {
  top: 40%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 47) {
  top: 44%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 48) {
  top: 24%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 49) {
  top: 76%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 50) {
  top: 73%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 51) {
  top: 55%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 52) {
  top: 50%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 53) {
  top: 1%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 54) {
  top: 12%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 55) {
  top: 59%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 56) {
  top: 27%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 57) {
  top: 81%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 58) {
  top: 19%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 59) {
  top: 65%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 60) {
  top: 87%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 61) {
  top: 16%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 62) {
  top: 66%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 63) {
  top: 85%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 64) {
  top: 55%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 65) {
  top: 26%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 66) {
  top: 67%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 67) {
  top: 9%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 68) {
  top: 68%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 69) {
  top: 10%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 70) {
  top: 21%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 71) {
  top: 80%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 72) {
  top: 10%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 73) {
  top: 42%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 74) {
  top: 77%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 75) {
  top: 4%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 76) {
  top: 59%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 77) {
  top: 17%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 78) {
  top: 75%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 79) {
  top: 40%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 80) {
  top: 23%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 81) {
  top: 73%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 82) {
  top: 52%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 83) {
  top: 49%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 84) {
  top: 11%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 85) {
  top: 43%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 86) {
  top: 71%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 87) {
  top: 3%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 88) {
  top: 63%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 89) {
  top: 84%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 90) {
  top: 65%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 91) {
  top: 72%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 92) {
  top: 55%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 93) {
  top: 51%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 94) {
  top: 19%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 95) {
  top: 4%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 96) {
  top: 39%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 97) {
  top: 6%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 98) {
  top: 68%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 99) {
  top: 67%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(100n + 100) {
  top: 29%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(1) {
  top: 20%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(2) {
  top: 50%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(3) {
  top: 80%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(4) {
  top: 35%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(5) {
  top: 65%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(6) {
  top: 10%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(7) {
  top: 60%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(8) {
  top: 70%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(9) {
  top: 0%;
}

body[data-is-embedded="true"] .tw-comment-item:nth-last-child(n + 500):nth-child(10) {
  top: 25%;
}
